services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    environment:
      - AWS_PROFILE=default
      - AWS_REGION=us-east-1
    volumes:
      - ~/.aws:/root/.aws:ro



  streamlit:
    build:
      context: ..
      dockerfile: docker/Dockerfile.streamlit
    ports:
      - "8501:8501"
    env_file:
      - ./.env
    environment:
      - API_BASE_URL=http://api:8000
    depends_on:
      - api
